/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #16727e;
    /* background-color: linear-gradient(to bottom,transparent,rgb(70, 70, 201)); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: calc(10vh - 5px);
}

.container {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #3895db;
    box-shadow: 0 0 10px rgba(224, 126, 126, 0.3);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #610808;
    margin-bottom: 2px;
}

/* Input Fields */
input[type="text"], 
input[type="password"], 
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid rgb(10, 8, 8);
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #ecf0f1;
    font-size: 14px;
}

/* Button */
button {
    width: 20%;
    background-color: #54226b;
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 1px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #248821;
}

/* Error and Success Messages */
.error {
    background-color: #423d4e;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.success {
    background-color: #4e4ebe;
    color: #155724;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

}

/* Links */
a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 10px;
    font-size: 7px;
    color: #5c146e;
}

.heading {
    text-align: center;
    color: #610808;
    margin-bottom: 100px;
}